.admin-companies-main {
  position: relative;

  .xett {
    width: 100%;
    height: 4px;
    background: #f6f6f6;
    position: absolute;
    bottom: 100px;
  }

  .hrXett {
    width: 1px;
    height: 20px;
    background: #C3C3C3;
  }

  .create-company-modal {
    background: #fff;

    border-radius: 12px; /* şəkildəki kimi daha yumru */
    width: 250px; /* screenshot ölçüsünə yaxın */
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;

    h3 {
      margin: 0 0 4px 0;
      font-size: 16px; /* başlıq sətir hündürlüyünə uyğun */
      font-weight: 500;
      color: #323232;
      text-align: center; /* şəkildə soldan idi */
    }

    .modal-close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 1;
    }

    .modal-fields {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 24px;

      label {
        font-size: 14px;
        font-weight: 500;
        color: #323232;
      }

      input {
        padding: 10px 12px;
        font-size: 14px;
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        outline: none;

        &::placeholder {
          color: #9c9c9c;
        }

        &:focus {
          border-color: #717171;
        }
      }
    }

    .save-btn--dark {
      margin-top: 6px;
      background: #333333; /* tünd düymə */
      color: #fff;
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #464646;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background: #2b2b2b;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }

  .delete-modal-box {
    background: #fff;
    padding: 32px 32px;
    border-radius: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

    .delete-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .delete-icon-circle-one {
        width: 120px;
        height: 120px;
        background-color: #F68D802B;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .delete-icon-circle {
        width: 72px;
        height: 72px;
        background: #FC3A2C36;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .delete-message {
      color: #1D1D1F;
      font-weight: 500;
      font-size: 16px;
      margin: 8px 0 0 0;
    }

    .delete-sub {
      font-size: 14px;
      color: #6c6c6c;
      margin: 0;
    }

    .delete-modal-actions {
      display: flex;
      gap: 16px;
      margin-top: 20px;
      width: 100%;

      button {
        padding: 10px 24px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        width: 50%;
      }

      .cancel-btn {
        background: #fff;
        border: 1px solid #d0d5dd;
        color: #1d1d1f;
      }

      .confirm-btn {
        background: #f04438;
        color: white;
        border: none;

        &:hover {
          background: #d1372e;
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .vendor-edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .modalHead {
    width: 100%;
    height: 60px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #DCDCDC;
    background: #F8F8F8;
    padding: 20px 0;
  }

  .vendor-edit-modal {
    background: #fff;

    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    position: relative;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      color: #333;
      text-align: center;
    }

    .modal-close-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .modal-fields {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 20px 28px 32px;

      label {
        font-size: 14px;
        font-weight: 500;
        color: #000;
      }

      input {
        padding: 10px 12px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;

        &:focus {
          border-color: #384871;
        }
      }
    }

    .save-btn {
      color: white;
      padding: 10px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 11px;
      background: #333;

    }
  }

}

.admin-companies {
  padding: 32px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  min-height: calc(100vh - 129px);
  position: relative;

  .headerr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    .head {
      h2 {
        font-size: 24px;
        font-weight: 500;
        color: #333;
      }

      p {
        margin-bottom: 0;
      }
    }

    button {
      display: flex;
      height: 40px;
      padding: 10px 17px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 7px;
      border: 1px solid #464646;
      background: #333333;
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .order-table-wrapper {
    display: flex;
    background: #fff;
    width: 50%;
    max-height: 600px; // Yüksəklik istəyə uyğun dəyişdirilə bilər
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 12px;


    table {
      border-collapse: collapse;
      width: 100%;
      /* === Fəaliyyətlər sütunu: sticky + soldan shadow === */
      thead th:last-child,
      tbody td:last-child {
        position: sticky;
        right: 0; /* sağda yapışdır */
        background: #fff; /* üst-üstə gələndə ağ qalsın */
        z-index: 10; /* digər hüceyrələrdən yuxarı */
      }

      /* Soldan yumşaq kölgə */
      thead th:last-child::before,
      tbody td:last-child::before {
        content: "";
        position: absolute;
        left: -12px;
        top: 0;
        bottom: 0;
        width: 12px;
        pointer-events: none;
        /* soldan içəri fade shadow */
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
      }

      thead {
        background: #f9f9f9;

        th {
          padding: 8px 16px;
          border: 1px solid #e0e0e0; // border for th
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          font-size: 14px;
          border-top: none;
          border-right: none;
        }

        th:first-child {
          border-left: none;
        }

        th:last-child {
          text-align: left;
          border-left: none;
          background: #f9f9f9;
        }

        .th-label {
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            cursor: pointer;
          }
        }
      }

      tbody {
        tr {
          text-align: center;

          &:nth-child(odd) {
            background-color: #ffffff;
          }

          &:nth-child(even) {
            background-color: #ffffff;
          }
        }

        tr:last-child {
          td {
            border-bottom: none;
          }
        }

        td:first-child {
          border-left: none;
        }

        td:last-child {
          width: 150px;
          border-left: none;
        }

        td {
          padding: 8px 16px;
          font-size: 14px;
          border: 1px solid #e0e0e0; // border for td
          white-space: nowrap;
          vertical-align: middle;
          text-align: left;
          border-right: none;

          button {
            display: flex;
            width: 86px;
            height: 28px;
            justify-content: center;
            align-items: center;
            border-radius: 9.739px;
            border: 1px solid #384871;
            background: #F0F7FF;
            color: #384871;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.056px;
            margin: 0 auto;
          }
        }
      }
    }


    .fixed-column {
      width: 150px;
      flex-shrink: 0;
      background: #fff;
      border-left: 1px solid #ccc;
      position: sticky;
      right: 0;
      top: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;

      .header {
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        background: #f9f9f9;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .cell {
        height: 60px;
        padding: 10px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          padding: 6px 12px;
          cursor: pointer;
          border-radius: 9.739px;
          border: 1px solid #384871;
          background: #F0F7FF;
          color: #384871;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.056px;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 26px;
    right: 16px;

    button {
      padding: 8px 12px;
      background: #fff;
      color: #333;
      cursor: pointer;
      font-size: 14px;
      min-width: 40px;
      border-radius: 3px;
      border: 1px solid #e3e3e3;

      &:disabled {
        background: #f1f1f1;
        cursor: not-allowed;
        color: #999;
      }

      &:hover:not(:disabled):not(.active) {
        background: #f9f9f9;
      }

      &.active {
        color: #fff;
        font-weight: 500;
        background: #384871;
      }
    }
  }
}
