#adminPage {
  background-color: #F6F6F6;
  height: 100vh;
  overflow: hidden;
  padding: 16px;

  .row {
    display: flex;
    height: 100%;
  }

  .leftbar-container {
    width: 286px;
    background-color: #fff;
    transition: transform 0.3s ease;
    height: calc(100vh - 129px);
    margin-top: 16px;

    @media screen and (max-width: 768px) {
      position: fixed;
      top: 60px;
      left: 0;
      height: calc(100% - 60px);
      transform: translateX(-100%);
      z-index: 1000;
      width: 240px;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);


      &.open {
        transform: translateX(0);
      }
    }
  }

  .content-container {
    flex: 1;
    padding: 16px;
    overflow-y: auto;

    @media screen and (max-width: 768px) {
      padding: 12px;
    }
  }

  .mobile-menu-toggle {
    display: none;
    border: none;
    font-size: 24px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #D6EBFF;
    width: 24px;
    height: 24px;
    align-content: center;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    flex-direction: column;
  }
}
