.order-form {
  display: flex;
  gap: 20px;
  padding: 32px 32px 0;
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 129px);
  overflow: hidden !important;
  box-sizing: border-box;
  @media screen and (max-width: 576px){
    height: calc(100vh - 77px);
    padding: 16px 16px 0;
    overflow: auto;

  }

  &__main {
    flex: 1;
    overflow: hidden;
    .row{
      .col-6{
        padding: 16px 25px;
        @media screen and (max-width: 576px){
          padding:10px;
        }
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
  }

  &__categories {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    scroll-behavior: smooth;
    @media screen and (max-width: 576px){
      margin: 0;
    }

    &::-webkit-scrollbar {
      height: 0px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #007AFF;
      border-radius: 4px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__category-btn {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #FDFDFD;
    display: inline-flex;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-bottom: 5px;

    &:hover {
      background-color: #f5f5f5;
    }

    &:last-child {
      margin-right: 20px;
    }
  }
  .order-form__category-btn.active {
    border-radius: 10px;
    border: 1px solid #384871;
    background: #EBF5FF;


  }
  .custom-datepicker-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

  }
  .react-datepicker-wrapper{
    width: 100%;
  }

  &__table-container {
    max-height: 570px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #c3c3c3;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  table {
    border-radius: 14px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 14px;
    position: relative;

    th,
    td {
      padding: 8px 16px;
      text-align: left;
      @media screen and (max-width: 576px){
        padding: 5px;
      }
    }

    th {
      border: 1px solid #DCDCDC;
      font-size: 14px;
      color: #333;
      font-weight: 600;
      text-align: center;
      position: relative;

    }

    td {
      font-size: 14px;
      color: #333;
      border: 1px solid #DCDCDC;
      text-align: center;
    }

    td:first-child {
      text-align: left;
    }

    th:first-child {
      text-align: left;
    }

    td:nth-child(2),
    td:nth-child(3) {
      width: 200px;
      @media screen and (max-width: 576px){
        width: 75px;
      }
    }

    tr:last-child td {
      border-bottom: none;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }

  &__table-search-icon {
    font-size: 14px;
    color: #aaa;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 9px;
    bottom: 9px;

  }

  &__table-search-box {
    position: absolute;
    top:50px;
    left: 0;
    width: 200px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 2;

    input {
      width: 100%;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
    }
  }

  &__quantity-btn {
    padding: 2px 8px;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 8px;
    border: none;
    font-size: 18px;
    color: #A6A6A6;
  }
  &__add-btnn{
    border: none;
    background: none;
  }
  &__add-btn {
    padding: 5px 10px;
    background: #e8f0fe;
    cursor: pointer;
    border-radius: 9.739px;
    border: 1px solid #384871;
    background: rgba(152, 201, 255, 0.15);
    color: #384871;

    &:hover {
      background-color: #d2e3fc;
    }
  }
  @media screen and (max-width: 576px) {
    .order-form__table {
      th, td {
        font-size: 12px !important;
        padding: 8px 6px !important;
      }

      th {
        white-space: nowrap;
      }

      td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .order-form__table-search-box {
      top: 35px;
      width: 150px;
      input {
        font-size: 12px;
        padding: 4px;
      }
    }

    .order-form__add-btn {
      font-size: 12px;
      padding: 4px 6px;
    }

    .order-form__quantity-btn {
      padding: 0 6px;
      font-size: 14px;
    }
  }

  &__cart-panel {
    width: 100%;
    border-radius: 14px;
    border: 1px solid #DCDCDC;
    overflow: hidden;

    h3 {
      font-size: 16px;
      font-weight: 400;
      padding: 20px;
      margin: 0;
      background: #F0F7FF;
      color: #000;
    }
  }
  .custom-datepicker-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 12px;
    cursor: pointer;
    width: 100%;
    background-color: white;

    .label {
      color: #333;
      font-weight: 500;
      flex: 1;
      font-size: 14px;
    }

    .value {
      color: #aaa;
      margin-right: 30px;
      min-width: 90px;
      text-align: right;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__cart-panel_main {
    padding: 20px;
    height: 90%;
  }

  &__cart-search {
    position: relative;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 8px 34px 8px 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
    }

    .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: #aaa;
    }
  }

  .table_cont {
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: flex;
    width: 100%;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-bottom: 20px;
    height: 240px;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #c3c3c3;
      border-radius: 4px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
.onlydesktop{
  @media screen and (max-width: 576px){
    display: none;
  }
}
  &__cart-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #DCDCDC;
    }


    th {
      color: #A4A4A4;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    td {
      font-size: 14px;
      color: #333;
    }

    td:first-child {
      text-align: left;
    }
    td:nth-child(2) {
      width: 120px;
    }
    tr:last-child td{
      border: none;
    }
    th:first-child {
      text-align: left;
    }
    .quantity-Cart{
      border-radius: 15px;
      border: 1px solid #BEBEBE;
      display: flex;
      align-items: center;
      p{
        margin: 0;
      }
    }
  }

  &__delete-btn {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      color: #e63946;
    }
  }

  textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    min-height: 70px;
    outline: none;
    &::placeholder {
      font-size: 14px;
    }
  }
  .mobileBasket{
    width: 100%;
    padding: 15px;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 14px;
    background: #384871;
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin:  20px 0 auto;
    &:hover {
      background-color: #15304a;
    }
  }
  &__submit-btn {
    width: 100%;
    padding: 15px;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 14px;
    background: #384871;
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin:  0 0 auto;
    &:hover {
      background-color: #15304a;
    }
  }
  .order-form__submit-btn:disabled {
    background-color: #ccc;      // gri arka plan
    color: #666;                 // açık gri yazı
    cursor: not-allowed;         // tıklanamaz imleç
    opacity: 0.7;
    transition: background-color 0.3s ease;
  }


  @media (max-width: 768px) {
    flex-direction: column;

    &__cart-panel {
      width: 100%;
      margin-top: 20px;
    }

    &__table-container {
      max-height: 260px;
    }
  }
  .col-xs-12{
    padding: 0;
  }
}
