.sidebarCustomer {
  height: calc(100vh - 150px);
  background-color: #FFFFFF;
  width: 100%;
  padding: 16px 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 576px){
    height: 100%;
    padding: 24px 8px;
  }
  .logOut {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #ED0303;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    border: none;
    padding:0 15px;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    padding: 8px 15px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &.active {
      border-left: 4px solid #007AFF;
      background: rgba(36, 139, 252, 0.09);
    }

    .link {
      text-decoration: none;
      color: black;
    }

  }

  &__menu-icon {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    &__header {
      display: none;
    }

    &__menu-item {
      padding: 15px;

      span {
        margin: 0;
      }
    }
  }
}