.order-history-detail-main {
  position: relative;
  .xett {
    width: 100%;
    height: 4px;
    background: #F6F6F6;
    position: absolute;
    bottom: 100px;
  }
}

.order-history-detail {
  padding:50px 50px 20px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  height: calc(100vh - 129px);
  overflow: hidden;
  position: relative;

  h2 {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-bottom: 30px;
    .link{
      color: #5B5B5B;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.56px;
      text-decoration: none;
    }
  }

  &__controls {
    margin-bottom: 20px;

    input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
      width: 100%;
      max-width: 300px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 440px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #007AFF;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__item {
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;

    &:hover {
      background: #f9f9f9;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .order-history__id {
      color: #272727;
      font-size: 14px;
      font-weight: 500;

      span {
        color: #979797;
        font-size: 16px;
        font-weight: 400;
        margin-right: 12px;
      }
    }
  }

  &__status {
    padding: 5px 12px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;

    &.pending {
      border: 1px solid #FBB;
      background: #FFF5F5;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DCDCDC;
    background: #FFF;
    height: 42px;
    padding: 0 10px;

    p {
      margin: 0;
      color: #0C0C0C;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__table {
    width: 50%;
    border-collapse: collapse;
    margin: 30px 0;

    th, td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background: #f9f9f9;
      font-weight: 500;
    }

    th input {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 12px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    span {
      color: #333;
      font-size: 14px;
    }

    .order-history-detail__confirm {
      padding: 10px 40px;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 12px;
      background: #384871;

    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 30px;
    right: 50px;

    button {
      padding: 8px 12px;
      background: #fff;
      color: #333;
      cursor: pointer;
      font-size: 14px;
      min-width: 40px;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #E3E3E3;

      &:disabled {
        background: #f1f1f1;
        cursor: not-allowed;
        color: #999;
      }

      &:hover:not(:disabled):not(.active) {
        background: #f9f9f9;
      }

      &.active {
        color: #fff;
        font-weight: 500;
        border-radius: 3px;
        background: #384871;
      }

      &:first-child, &:last-child {
        font-size: 14px;
        padding: 8px;
      }
    }
  }
}